
FioWebAdmin/
*.cache
*.dll
*.txt
*.pdb
MexpressWebClient/bin/Debug/netcoreapp2.2/MexpressWebClient.deps.json
MexpressWebClient/bin/Debug/netcoreapp2.2/MexpressWebClient.runtimeconfig.dev.json
MexpressWebClient/bin/Debug/netcoreapp2.2/MexpressWebClient.runtimeconfig.json
MexpressWebClient/obj/Debug/netcoreapp2.2/MexpressWebClient.AssemblyInfo.cs
MexpressWebClient/obj/Debug/netcoreapp2.2/MexpressWebClient.assets.cache
MexpressWebClient/obj/Debug/netcoreapp2.2/MexpressWebClient.RazorAssemblyInfo.cs
*.cache
Sevensoft.Mexpress.Backend.BusinessLogic/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.deps.json
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.assets.cache
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Common/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.deps.json
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.assets.cache
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.deps.json
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.deps.json
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.runtimeconfig.dev.json
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.runtimeconfig.json
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.assets.cache
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.assets.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.assets.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.RazorAssemblyInfo.cs
Sevensoft.Mexpress.Utilities.Extender/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.deps.json
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.AssemblyInfo.cs
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.assets.cache
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.csproj.CopyComplete
*.cache
*.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/project.razor.json
MexpressWebClient/obj/Debug/netcoreapp2.2/project.razor.json
*.cache
*.cache
*.cache
*.cache
*.cache
*.json
*.cache
*.json
*.cache
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.assets.cache
