
FioWebAdmin/
*.cache
*.dll
*.txt
*.pdb
AcuerdosWebClient/bin/Debug/netcoreapp2.2/AcuerdosWebClient.deps.json
AcuerdosWebClient/bin/Debug/netcoreapp2.2/AcuerdosWebClient.runtimeconfig.dev.json
AcuerdosWebClient/bin/Debug/netcoreapp2.2/AcuerdosWebClient.runtimeconfig.json
AcuerdosWebClient/obj/Debug/netcoreapp2.2/AcuerdosWebClient.AssemblyInfo.cs
AcuerdosWebClient/obj/Debug/netcoreapp2.2/AcuerdosWebClient.assets.cache
AcuerdosWebClient/obj/Debug/netcoreapp2.2/AcuerdosWebClient.RazorAssemblyInfo.cs
*.cache
Sevensoft.Mexpress.Backend.BusinessLogic/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.deps.json
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.assets.cache
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Common/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.deps.json
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.assets.cache
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.deps.json
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.deps.json
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.runtimeconfig.dev.json
Sevensoft.Mexpress.Backend.Web.Api/bin/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.runtimeconfig.json
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.AssemblyInfo.cs
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.assets.cache
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.assets.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.assets.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.csproj.CopyComplete
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/Sevensoft.Mexpress.Backend.Web.Api.RazorAssemblyInfo.cs
Sevensoft.Mexpress.Utilities.Extender/bin/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.deps.json
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.AssemblyInfo.cs
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.assets.cache
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.csproj.CopyComplete
*.cache
*.cache
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/project.razor.json
AcuerdosWebClient/obj/Debug/netcoreapp2.2/project.razor.json
*.cache
*.cache
*.cache
*.cache
*.cache
*.json
*.cache
*.json
*.cache
Sevensoft.Mexpress.Utilities.Extender/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Utilities.Extender.assets.cache
*.json
*.cache
*.json
*.cache
*.stackdump
*.json
*.json
*.cache
AcuerdosWebClient/publish/index.html
AcuerdosWebClient/publish/main-es2015.8de38dc0d24d20718c39.js
AcuerdosWebClient/publish/main-es2015.d976e31e3626b5563e70.js
AcuerdosWebClient/publish/main-es5.2fe8d9e37ece0312cb69.js
AcuerdosWebClient/publish/main-es5.8c4f956e1452c13eb773.js
Sevensoft.Mexpress.Backend.BusinessLogic/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.BusinessLogic.assets.cache
Sevensoft.Mexpress.Backend.Common/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.Common.assets.cache
Sevensoft.Mexpress.Backend.DataAccess/obj/Debug/netstandard2.0/Sevensoft.Mexpress.Backend.DataAccess.assets.cache
AcuerdosWebClient/publish/main-es2015.f8832345bde493c195cc.js
AcuerdosWebClient/publish/main-es5.748179a9241b54816c90.js
Sevensoft.Mexpress.Backend.Web.Api/obj/Debug/netcoreapp2.2/project.razor.json
