<div class="container-fluid p-0">
    <div class="trade-agreements-header">
        <div class="row ml-0 mr-0 ">
            <h5 class="tittle-agreement">Seguimiento del acuerdo</h5>
        </div>
        <div class="row m-0 pl-5 pr-4">
            <label class="trade-agreements-description">En esta sección se puede dar seguimiento a los acuerdos creados.</label>
        </div>
    </div>
    <div class="row new-agreement-table-top trade-agreements-filters">
        <div class="col-md-3 trade-agreements-radio-b">
            <label class="span-active">Filtro</label>
            <!-- <span class="span-active">1: </span> -->
            <div class="form-check d-inline-block agreements-radio-buttons">
                <input type="radio" name="activeAgreements" id="activeAgreements" value="option1" [checked]="activeAgreements" (change)="listSpecificHeaderAgreement($event)">
                <label for="activeAgreements">Activos</label>
            </div>
            <div class="form-check d-inline-block agreements-radio-buttons">
                <input type="radio" name="inactiveAgreements" id="inactiveAgreements" value="option2" [checked]="inactiveAgreements" (change)="listSpecificHeaderAgreement($event)">
                <label for="inactiveAgreements">Inactivos</label>
            </div>
        </div>
    </div>

    <!-- Listado de acuerdos -->
    <div class="row ml-0 mr-0 trade-agreements-grid">
        <div class="col-lg-12 col-md-12">
            <ejs-grid #grid [dataSource]='dataTable' id='Normalgrid' [allowFiltering]='true' [filterSettings]='filterOptions' [selectedRowIndex]="0" allowSorting='true' [sortSettings]='initialSort' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings'
                (dataBound)="dataBound()" [allowResizing]='true' (queryCellInfo)='tooltip($event)'>
                <e-columns>
                    <e-column field='name_Agreement' headerText='Nombre del acuerdo' width='190' textAlign='Center'>
                    </e-column>
                    <e-column field='type_Agreement_Name' headerText='Tipo de acuerdo' width='162' textAlign='Center'></e-column>
                    <e-column field='agreement_Status_Name' headerText='Estado' width='124' textAlign='Center'>
                        <ng-template #filterTemplate let-data>
                            <ejs-dropdownlist id='dropdown' (change)=onChange($event) [dataSource]='dropdata' [fields]='fields' [popupHeight]='height'>
                            </ejs-dropdownlist>
                        </ng-template>
                    </e-column>
                    <e-column field='provider_Name' foreignKeyValue='provider_Name' headerText='Proveedor' width='210' textAlign='Center'>
                        <ng-template #filterTemplate let-data>
                            <ejs-dropdownlist id='ddltooltip' (change)=onChangeProvider($event) [dataSource]='dropdataProvider' [fields]='fields' [popupHeight]='height'>
                            </ejs-dropdownlist>
                        </ng-template>
                    </e-column>
                    <e-column field='string_Date_Start' headerText='Fecha inicial' width='139' textAlign='Center'></e-column>
                    <e-column field='string_Date_Finish' headerText='Fecha final' width='130' textAlign='Center'>
                    </e-column>
                    <e-column field='recovery_Amount' headerText='Monto recuperado' width='179' textAlign='Center'></e-column>
                    <e-column field='pk_Ac_Trade_Agreement' [isPrimaryKey]="true" [visible]="false" headerText='pk_Ac_Trade_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Cat_Type_Agreement' [visible]="false" headerText='pk_Cat_Type_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Ac_Cat_Provider' [visible]="false" headerText='pk_Ac_Cat_Provider' width='5' textAlign='Center'></e-column>
                    <e-column field='description_Agreement' [visible]="false" headerText='description_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='creation_User' [visible]="false" headerText='creation_User' width='170' textAlign='Center'></e-column>
                    <e-column field='active' [visible]="false" headerText='active' width='5' textAlign='Center'></e-column>
                    <e-column field='date_Process' [visible]="false" headerText='date_Process' width='5' textAlign='Center'></e-column>
                    <e-column field='date_Reprocess' [visible]="false" headerText='date_Reprocess' width='5' textAlign='Center'></e-column>
                    <e-column field='allProducts' [visible]="false" headerText='allProducts' width='5' textAlign='Center'></e-column>
                    <e-column field='fk_Status_Agreement' [visible]="false" headerText='fk_Status_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='fk_Glb_Mtr_Organization' [visible]="false" headerText='fk_Glb_Mtr_Organization' width='5' textAlign='Center'></e-column>

                    <e-column field='edit' textAlign='center' headerText='Ver' width=105 [allowFiltering]='false'>
                        <ng-template #template let-dataAgreements>
                            <mat-icon (click)="viewAgreementTrackingDetails($event)" class="trade-agreements-edit-icon">remove_red_eye</mat-icon>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>