<div class="content-fluid">
    <div class="row">
        <h5 class="change-password-modal">Cambiar Contraseña</h5>
    </div>
    <hr />

    <form [formGroup]="changePassForm">
        <div class="row change-password-modal-form-group">
            <div class="col-md-12 mx-auto">
                <div class="form-group">
                    <label for="actual_pass" class="change-password-modal-label mb-2">
            Ingresa tu contraseña actual
          </label>
                    <input type="password" class="form-control change-password-modal-form-input" id="actual_pass" placeholder="Ingresa tu contraseña actual" formControlName="actual_pass" [ngClass]="{'Error-password': submitted && changePassForm.get('actual_pass').errors}"
                    />
                </div>
            </div>
        </div>
        <div class="row change-password-modal-form-group">
            <div class="col-md-12 mx-auto">
                <div class="form-group">
                    <label for="new_pass" class="change-password-modal-label mb-2">
            Nueva contraseña <span class="error-password-span" *ngIf="showPassError">(* Las contraseñas no coinciden)</span>
          </label>
                    <input type="password" class="form-control change-password-modal-form-input" id="new_pass" placeholder="Nueva contraseña" formControlName="new_pass" [ngClass]="{'Error-password': submitted && changePassForm.get('new_pass').errors}" />
                </div>
            </div>
        </div>
        <div class="row change-password-modal-form-group">
            <div class="col-md-12 mx-auto">
                <div class="form-group">
                    <label for="confirm_pass" class="change-password-modal-label mb-2">
            Confirmar contraseña <span class="error-password-span" *ngIf="showPassError">(* Las contraseñas no coinciden)</span>
          </label>
                    <input type="password" class="form-control change-password-modal-form-input" id="confirm_pass" placeholder="Confirmar contraseña" formControlName="confirm_pass" [ngClass]="{'Error-password': submitted && changePassForm.get('confirm_pass').errors}" />
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row change-password-modal-button-top">
        <div class="col-md-4 text-right">
            <button mat-button mat-dialog-close class="cancel-button">Cancelar</button>
        </div>
        <div class="offset-md-3 col-md-4 text-center">
            <button mat-button class="save-button" (click)="changePass()">Aceptar<mat-icon class="ml-2" >done_all</mat-icon>
        </button>
        </div>

    </div>
</div>