<div class="container-fluid">

    <div class="row agreement-top-header ml-0 mr-0 ">
        <h5 class="tittle-agreement">Nuevo acuerdo comercial</h5>
    </div>

    <div class="row create-agreement-sector agreement-top-header ml-0 mr-0">
        <div class="offset-md-8 col-md-2">
            <button class="save-button" mat-raised-button (click)="openDialogImportProduct()"><mat-icon  class="mr-2">import_export</mat-icon>Subir excel de productos</button>
        </div>

        <div class="offset-md-10 col-md-2">
            <button class="save-button" mat-raised-button (click)="uploadArchive()"><mat-icon  class="mr-2">attachment</mat-icon>Subir adjuntos</button>
        </div>
    </div>
    <form [formGroup]="newAgreementForm" novalidate class="new-agreement-form-top">
        <div class="row agreement-top">
            <!-- Tipo de acuerdo -->
            <div class="form-group col-md-2">
                <label for="type_of_agreement" class="new-agreement-label-input">Tipo de acuerdo</label>
                <mat-select id="type_of_agreement" [ngModelOptions]="{standalone: true}" [(ngModel)]="type_of_agreement" class="new-agreement-select text-center" (selectionChange)="behaviorTypeOfAgreement($event)">
                    <!-- <mat-option *ngFor="let paySlip of listER" [value]="paySlip.pk_Do_Mtr_Pay_Slip">
                    {{paySlip.slip_Name}}
                </mat-option> -->
                    <mat-option [value]="0">
                        Prueba
                    </mat-option>
                </mat-select>
            </div>
            <!-- Nombre del acuerdo-->
            <div class="form-group col-md-2">
                <label for="agreement_name" class="new-agreement-label-input">Nombre</label>
                <input type="text" class="form-control new-agreement-form-input" [ngClass]="{'form-control-error': showErrors && newAgreementForm.get('agreement_name').errors}" formControlName="agreement_name" id="agreement_name" aria-describedby="agreement_name" placeholder="Digite el nombre del acuerdo">
                <div *ngIf="newAgreementForm.get('agreement_name').errors && newAgreementForm.get('agreement_name').errors['required'] && showErrors" class="alert-error-required mt-2">
                    Debes completar este campo
                </div>
            </div>
            <!-- Proveedor -->
            <div class="form-group col-md-2">
                <label for="provider" class="new-agreement-label-input">Proveedor</label>
                <mat-select id="provider" [ngModelOptions]="{standalone: true}" [(ngModel)]="provider" class="new-agreement-select text-center" (selectionChange)="behaviorProvider($event)">
                    <!-- <mat-option *ngFor="let paySlip of listER" [value]="paySlip.pk_Do_Mtr_Pay_Slip">
                    {{paySlip.slip_Name}}
                </mat-option> -->
                    <mat-option [value]="0">
                        Prueba
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </form>

    <!-- <div class="row new-agreement-table-top" *ngIf="!showWorkTable">
        <div class="col-lg-12 col-md-12">
            <ejs-grid #grid (toolbarClick)="toolbarClick($event)" [dataSource]='dataTable' [allowExcelExport]='true' id='Normalgrid' [selectedRowIndex]="0" allowSorting='true' [sortSettings]='initialSort' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings'
                [toolbar]='toolbar' (dataBound)="dataBound($event)" (actionBegin)='actionBegin($event)' [allowResizing]='true'>
                <e-columns>
                    <e-column field='product_Id_Alias' headerText='Código' width='150' textAlign='Center' [validationRules]='codeRules'></e-column>
                    <e-column field='product_Name' headerText='Nombre' width='170' textAlign='Center' [validationRules]='productNameRules'></e-column>
                    <e-column field='id_Currency' headerText='Moneda' [validationRules]='moneyRules' width='220' editType='dropdownedit' [edit]='moneyTypeParams' textAlign='Center'></e-column>
                    <e-column field='product_Amount' headerText='Monto' width='150' textAlign='Center' [validationRules]='positionRules'></e-column>
                    <e-column field='pk_Cat_Agreement_Details' [isPrimaryKey]="true" [visible]="false" headerText='Pk_Cat_Agreement_Details' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Cat_Currency' [visible]="false" headerText='Pk_Cat_Currency' width='5' textAlign='Center'></e-column>
                    <e-column field='fk_Glb_Mtr_Organization' [visible]="false" headerText='fk_Glb_Mtr_Organization' width='5' textAlign='Center'></e-column>
                    <e-column field='creation_User' [visible]="false" headerText='creation_User' width='170' textAlign='Center'></e-column>
                    <e-column field='active' [visible]="false" headerText='active' width='5' textAlign='Center'></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div> -->

    <div class="row new-agreement-table-top" *ngIf="showWorkTable">
        <div class="col-lg-12 col-md-12">
            <ejs-grid #grid [dataSource]='workDataTable' id='NormalgridWork' [selectedRowIndex]="0" allowSorting='true' [sortSettings]='initialSort' allowScrolling='true' scrollSettings='initialScroll' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettingsWork'
                [toolbar]='toolbarWork' (actionBegin)='actionBeginWork($event)' (rowDataBound)="rowDataBound($event)" [allowResizing]='true'>
                <e-columns>
                    <e-column field='product_Id_Alias' headerText='Código' width='150' textAlign='Center' [validationRules]='codeRules'></e-column>
                    <e-column field='product_Name' headerText='Nombre' width='170' textAlign='Center' [validationRules]='productNameRules'></e-column>
                    <e-column field='id_Currency' headerText='Moneda' [validationRules]='moneyRules' width='220' editType='dropdownedit' [edit]='moneyTypeParams' textAlign='Center'></e-column>
                    <e-column field='product_Amount' headerText='Monto' width='150' textAlign='Center' [validationRules]='positionRules'></e-column>
                    <e-column field='creation_User' [visible]="false" headerText='creation_User' width='170' textAlign='Center'></e-column>

                    <e-column field='fk_Gbl_Wrk_Agreement_Header' [visible]="false" headerText='fk_Gbl_Wrk_Agreement_Header' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Gbl_Wrk_Agreement' [isPrimaryKey]="true" [visible]="false" headerText='pk_Gbl_Wrk_Agreement' width='5' textAlign='Center'></e-column>

                    <e-column field='error' [visible]="false" headerText='error' width='5' textAlign='Center'></e-column>
                    <e-column field='message_Error' [visible]="false" headerText='message_Error' width='5' textAlign='Center'></e-column>
                    <e-column field='it_Processed' [visible]="false" headerText='it_Processed' width='5' textAlign='Center'></e-column>
                    <e-column field='invalid_Amount' [visible]="false" headerText='invalid_Amount' width='5' textAlign='Center'></e-column>
                    <e-column field='not_Exist_Product' [visible]="false" headerText='not_Exist_Product' width='5' textAlign='Center'></e-column>
                    <e-column field='duplicate_Code_Alias' [visible]="false" headerText='duplicate_Code_Alias' width='5' textAlign='Center'></e-column>
                    <e-column field='not_Exist_Id_Currency' [visible]="false" headerText='not_Exist_Id_Currency' width='5' textAlign='Center'></e-column>
                    <e-column field='active' [visible]="false" headerText='active' width='5' textAlign='Center'></e-column>

                </e-columns>
            </ejs-grid>
        </div>
        <div class="row w-100">
            <label for="" class="new-agreement-doc-errors" *ngIf="docHasErrors">La información del excel contiene errores.</label>
        </div>
        <div class=" mx-auto manage-employee-buttons-top">
            <button (click)="processEmployeeWork(false)" class="excel-button float-left mr-4" mat-raised-button>Sobreescribir con excel<mat-icon class="ml-2">play_for_work</mat-icon></button>
            <button (click)="processEmployeeWork(true)" class="excel-button mr-4" mat-raised-button>Actualizar<mat-icon
                    class="ml-2">autorenew</mat-icon></button>
            <button (click)="cancel()" class="excel-button" mat-raised-button>Cancelar<mat-icon class="ml-2">
                    delete_forever</mat-icon></button>
        </div>
    </div>



</div>