<div class="container-fluid p-0">
    <div class="trade-agreements-header">
        <div class="row ml-0 mr-0 ">
            <h5 class="tittle-agreement">Acuerdos comerciales</h5>
        </div>
        <div class="row m-0 pl-5 pr-4">
            <label class="trade-agreements-description">En esta sección se pueden visualizar los acuerdos comerciales existentes seleccionando los filtros necesarios, editar o bien agregar uno nuevo.</label>
        </div>

        <div class="row ml-0 mr-0">
            <div class="offset-md-10 col-md-2">
                <button class="save-button" mat-raised-button (click)="redirectPageCreateNewAgreement()">
                <mat-icon class="mr-2">add_circle_outline</mat-icon>Crear acuerdo
            </button>
            </div>
        </div>
    </div>
</div>
  


    <div class="row new-agreement-table-top trade-agreements-filters">
            <div class="col-md-1 trade-agreements-radio-b">
                    <label class="span-active">Filtros </label>
            </div>
        <div class="col-md-2 trade-agreements-radio-b">
                <span class="span-active">1: </span>
            <div class="form-check d-inline-block agreements-radio-buttons">
                <input type="radio" name="activeAgreements" id="activeAgreements" value="option1" [checked]="activeAgreements" (change)="listSpecificHeaderAgreement($event)">
                <label for="activeAgreements">Activos</label>
            </div>
            <div class="form-check d-inline-block agreements-radio-buttons">
                <input type="radio" name="inactiveAgreements" id="inactiveAgreements" value="option2" [checked]="inactiveAgreements" (change)="listSpecificHeaderAgreement($event)">
                <label for="inactiveAgreements">Inactivos</label>
            </div>
        </div>
        <div class="col-md-3 trade-agreement-col-center">
            <span class="span-inactive d-inline-block">2: Nombre</span>
            <input type="text" class="form-control new-agreement-form-input"  id="agreement_name" aria-describedby="agreement_name" placeholder="Nombre del acuerdo">

        </div>
        <div class="col-md-3 trade-agreement-col-center-date">
                <span class="span-inactive  d-inline-block">3: Fecha</span>
                <input matInput [matDatepicker]="filterDatePicker" id="filterDatePicker" placeholder="02/01/2019" class="new-trade-agreement-modal-date-input"   readonly>
                <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="date-calendar-icon"></mat-datepicker-toggle>
                <mat-datepicker #filterDatePicker></mat-datepicker>
        </div>
        <div class="col-md-3 trade-agreement-col-center">
            <span class="span-inactive">4: </span>
            <h5 class="radioButton-agreement d-inline-block">Estado</h5>
            <div class="form-check d-inline-block trade-agreement-select">

                <mat-select id="agreement_status" [ngModelOptions]="{standalone: true}" [(ngModel)]="agreement_status" class="agreement-status-select text-center" (selectionChange)="behaviorStatus($event)" placeholder="Estado">
                    <mat-option *ngFor="let status of statusList" [value]="status.pk_Glb_Cat_Catalog">
                        {{status.value}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </div>

    <!-- Listado de acuerdos -->
    <div class="row ml-0 mr-0 trade-agreements-grid">
        <div class="col-lg-12 col-md-12">
            <ejs-grid #grid [dataSource]='dataTable' id='Normalgrid' [selectedRowIndex]="0" allowSorting='true' [sortSettings]='initialSort' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' (dataBound)="dataBound($event)" [allowResizing]='true'
                [toolbar]='toolbar'>
                <e-columns>
                    <e-column field='name_Agreement' headerText='Nombre del acuerdo' width='150' textAlign='Center'>
                    </e-column>
                    <e-column field='agreement_Status_Name' headerText='Estado' width='170' textAlign='Center'>
                    </e-column>
                    <e-column field='provider_Name' headerText='Proveedor' width='170' textAlign='Center'></e-column>
                    <e-column field='date_Start' headerText='Fecha de inicio' width='150' textAlign='Center' type="date" [format]="{type: 'date', format:'dd/MM/yyyy'}"></e-column>
                    <e-column field='date_Finish' headerText='Fecha de finalización' width='150' textAlign='Center' type="date" [format]="{type: 'date', format:'dd/MM/yyyy'}">
                    </e-column>
                    <e-column field='pk_Ac_Trade_Agreement' [isPrimaryKey]="true" [visible]="false" headerText='pk_Ac_Trade_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Cat_Type_Agreement' [visible]="false" headerText='pk_Cat_Type_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='pk_Ac_Cat_Provider' [visible]="false" headerText='pk_Ac_Cat_Provider' width='5' textAlign='Center'></e-column>
                    <e-column field='description_Agreement' [visible]="false" headerText='description_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='creation_User' [visible]="false" headerText='creation_User' width='170' textAlign='Center'></e-column>
                    <e-column field='active' [visible]="false" headerText='active' width='5' textAlign='Center'>
                    </e-column>
                    <e-column field='date_Process' [visible]="false" headerText='date_Process' width='5' textAlign='Center'></e-column>
                    <e-column field='date_Reprocess' [visible]="false" headerText='date_Reprocess' width='5' textAlign='Center'></e-column>
                    <e-column field='allProducts' [visible]="false" headerText='allProducts' width='5' textAlign='Center'></e-column>
                    <e-column field='fk_Status_Agreement' [visible]="false" headerText='fk_Status_Agreement' width='5' textAlign='Center'></e-column>
                    <e-column field='fk_Glb_Mtr_Organization' [visible]="false" headerText='fk_Glb_Mtr_Organization' width='5' textAlign='Center'></e-column>

                    <e-column field='edit' textAlign='center' headerText='Editar' width=120>
                        <ng-template #template let-dataAgreements>
                            <mat-icon (click)="viewAgreementDetails($event)" class="trade-agreements-edit-icon">border_color</mat-icon>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>