@import "../../../styles.scss";
.tittle-agreement {
    font-size: $font-size-medium;
    text-align: left;
    font-family: $opensans-semibold;
    color: #001B36;
}

.agreement-top-header {
    margin-top: 2vh;
}

.agreement-scroll {
    height: 85vh!important;
}

.create-agreement-sector {
    background: $light-gray-softer;
    border-radius: 0rem;
    padding: 1.3rem;
    margin-left: 0;
    margin-right: 0;
}

// Tabla 
.new-agreement-table-top {
    margin-top: 4vh;
}

.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
    background: $light-blue !important;
}

::ng-depp .e-pager .e-currentitem {
    background: $light-blue;
}

::ng-depp .e-pager .e-currentitem:hover {
    background: $light-blue;
}

::ng-depp .e-grid .e-content {
    overflow-x: hidden !important;
}