<div class="forgot-password container-fluid forgot-password-bg">
    <div class="material-card forgot-password-card col-md-4 mx-auto pt-5 pb-5">
        <div class="row">
            <div class="col-md-10 text-center offset-md-1">
                <div class="forgot-password-logo"></div>
                <!-- <img src="../../../assets/img/altecoLogo.jpg" alt="" class="login-logo"> -->
            </div>
        </div>
        <div class="row forgot-password-title-row">
            <h4 class="col-md-12 text-center forgot-password-title">Olvidé mis datos</h4>
        </div>
        <div class="row">
            <p class="forgot-password-subtitle">Para recuperar tus datos ingresa el correo registrado para restaurar tu contraseña</p>
        </div>
        <form class="form-username" [formGroup]="forgotPasswordForm" novalidate>
            <div class="row">
                <div class="forgot-password-email-container offset-md-1 col-md-10">
                    <div class="form-group">
                        <label class="forgot-password-label">correo electrónico</label>
                        <input class="form-control forgot-password-input" [ngClass]="{
                'form-control-error':
                  submitted && forgotPasswordForm.get('username').errors
              }" type="text" formControlName="username" placeholder="usuario@correo.com" />
                    </div>
                    <div *ngIf="submitted && forgotPasswordForm.get('username').errors && forgotPasswordForm.get('username').errors['required']" class="alert-error-required">
                        El correo electrónico es requerido
                    </div>
                    <div *ngIf="submitted && forgotPasswordForm.get('username').errors && forgotPasswordForm.get('username').errors['email']" class="alert-error-required">
                        El formato de correo es incorrecto
                    </div>
                </div>
            </div>
            <div class="row forgot-password-button-container text-center">

                <div class="col-md-12">
                    <button type="button" class="forgot-password-button forgot-password-button-forgot" (click)="goLogin()">Regresar</button>
                    <button class="forgot-password-button forgot-password-button-sign-in" (click)="sendRequest()">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>