@import "../../../styles.scss";

/**************************************************************
   * Author: jquesada
   * Creation date: 01/02/2019
   * Description: SCSS for the forgot-password process.
   * **********************************************************
  * Modifications:
  -1: Josue Somarribas: Se añade a la clase .forgot-password-bg las propiedades de flexbox para centrar todos los elementos hijos de este contenedor
  ****************************************************
 */

.forgot-password-logo {
    background-image: url('../../../assets/img/MexpressLogo.png');
    height: 10rem;
    background-repeat: no-repeat !important;
    background-size: 17rem;
    background-position: center;
}

.forgot-password-bg {
    min-height: 100vh;
    background-color: #000;
    background: url('../../../assets/img/login_bg-min-min.jpg');
    background-size: cover!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    display: flex;
    /* Modification #1*/
    align-items: center;
    /* Modification #1*/
}

.forgot-password-title-row {
    margin-top: 5vh;
    border-top: 1px solid rgba(90, 90, 90, 0.76);
    ;
}

.forgot-password-title {
    margin-top: 3vh;
    font-size: 1.7rem;
    font-family: $opensans-extrabold;
}

.forgot-password-email-container {
    margin-top: 1vh;
}

.forgot-password-label {
    font-size: 1rem;
    font-family: $opensans-extrabold;
    color: $white;
    line-height: normal;
}

.form-group {
    margin-bottom: 0;
}

.forgot-password-input {
    font-family: $opensans-semibold;
    line-height: 27px;
    font-size: 1rem;
    text-align: center;
    background-color: $light-gray-softer;
    color: $black;
    display: inline-block;
}

 ::-webkit-input-placeholder {
    font-family: $opensans-semibold;
    text-align: center;
    color: $black;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

.forgot-password-button {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: .5rem 1rem;
    color: $white;
}

.forgot-password-button-forgot {
    background: $light-blue;
    border-radius: .25rem;
    margin-right: 1rem;
}

.forgot-password-button-sign-in {
    background: $yellow;
    border-radius: .25rem;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 
  * Description: class that remove the outline when button is clicked
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.forgot-password-button-container {
    margin-top: 3vh;
}

.forgot-password-password-container {
    margin-top: 3vh;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date:
  * Description: style of the card that holds the forgot-password form
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.forgot-password-card {
    background-color: $white;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
}

// styles for password input
.forgot-password-show-password {
    position: absolute;
    right: 1.5rem;
    top: 1.7rem;
}

.forgot-password-subtitle {
    font-family: $opensans-extrabold;
    font-size: $font-size-small;
    line-height: 22px;
    text-align: center;
    width: 100%;
    padding: 0.5rem 4rem;
}