<div class="container-fluid">

    <div class="row mx-auto">
        <mat-icon class=" offset-md-4 feedback-icon" [ngClass]="{'success': status == 'success', 'error': status == 'error', 'warning': status == 'warning'}">{{icon}}</mat-icon>
    </div>

    <div class="row">
        <h5 class="feedback-modal-title w-100">{{labelTitile}}</h5>
    </div>
    <div class="row">
        <p class="feedback-modal-description w-100">
            {{textDescription}}
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 text-left">
            <button (click)='acceptFinalization()' mat-button mat-dialog-close class="confirm-modal-accept-button">{{btnAccept}}</button>
        </div>
        <div class="col-md-6 text-right">
            <button (click)='cancel()' mat-button mat-dialog-close class="confirm-modal-cancel-button">{{btnCancel}}</button>
        </div>
    </div>
</div>