<div class="container-fluid">
    <div class="row">
        <label for="" class="w-100 goals-loader-tittle">Cargador de Metas</label>
    </div>
    <hr>
    <div class="row goals-loader-header">
        <div class="col-md-2 text-center"> <label for="" class="goals-loader-header-label">Fecha Inicio</label>
        </div>
        <div class="col-md-2 text-center"><label for="" class="goals-loader-header-label">Fecha Fin</label></div>

        <div class="col-md-1 text-center"><label for="" class="goals-loader-header-label">Moneda</label></div>
        <div class="col-md-1 text-center"><label for="" class="goals-loader-header-label">Porcentual</label></div>

        <div class="col-md-2 text-center"><label for="" class="goals-loader-header-label">Monto Meta</label>
        </div>
        <div class="col-md-3 text-center"><label for="" class="goals-loader-header-label">
                    Bonificación</label></div>
        <div class="col-md-1 goals-loader-icon-header">
            <button mat-icon-button [disabled]='followUp' (click)="addNewGoal()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div class="row goals-loader-input-section" *ngFor="let goals of goalLine; let i = index; let j = index;">

            <div class="col-md-2 p-0 goal-loader-input-col">
                <div class="form-group text-center date-picker-custom mb-0">
                    <input matInput readonly [matDatepicker]="i" [attr.id]="dtPicker+i" placeholder="02/01/2019" [(ngModel)]="goals.date_Start" class="goals-loader-date-picker">
                    <mat-datepicker-toggle [disabled]='followUp' matSuffix [for]="i"></mat-datepicker-toggle>
                    <mat-datepicker #i></mat-datepicker>

                </div>
            </div>
            <div class="col-md-2 p-0 goal-loader-input-col">
                <div class="form-group text-center date-picker-custom mb-0">
                    <input matInput readonly [matDatepicker]="j" [attr.id]="dtPickerF+j" placeholder="02/01/2019" [(ngModel)]="goals.date_Finish" class="goals-loader-date-picker" [ngClass]="{'goals-loader-date-picker-error': goals.errorFinishDate}" (dateChange)="changeFinishDate($event)">
                    <mat-datepicker-toggle [disabled]='followUp' matSuffix [for]="j"></mat-datepicker-toggle>
                    <mat-datepicker #j></mat-datepicker>

                </div>
            </div>
            <div class="col-md-1 p-0 goal-loader-input-col">
                <mat-select [disabled]='followUp' [(ngModel)]="goals.name_Currency" id="i" class="new-agreement-select text-center" placeholder="Moneda">
                    <mat-option value="COLONES">
                        ¢
                    </mat-option>
                    <mat-option value="DOLARES">
                        $
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-md-1 goal-loader-input-col goal-loader-percentage">
                <mat-slide-toggle [disabled]='followUp' [(ngModel)]="goals.type_Goal" [checked]="goals.type_Goal" class="new-agreement-slide-toggle">
                </mat-slide-toggle>
            </div>
            <div class="col-md-2  p-0 goal-loader-input-col">
                <input [readonly]='followUp' type="number" [(ngModel)]="goals.goal_Amount" class="form-control goals-loader-inputs mb-0" [ngClass]="{'form-control-error': goals.errorGoal}" (keypress)="valueChange(goals,true)" aria-describedby="Monto de la Meta" placeholder="Monto de la Meta">

            </div>
            <div class="col-md-3  p-0 goal-loader-input-col">
                <input [readonly]='followUp' type="number" [(ngModel)]="goals.bonus" class="form-control goals-loader-inputs mb-0" [ngClass]="{'form-control-error': goals.errorBonus}" aria-describedby="Porcentaje de Bonificación" (keypress)="valueChange(goals,false)"
                    placeholder="Porcentaje de Bonificación">
            </div>
            <div class="col-md-1 goals-loader-icon-goal">
                <button mat-icon-button [disabled]='followUp' (click)="deleteGoal(goals)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>

        </div>
    </cdk-virtual-scroll-viewport>
    <div class="row mt-3">
        <div class="offset-md-6 col-md-6 text-right">
            <button mat-button class="goals-loader-cancel-button" (click)="closeModal(false)">Cancelar</button>
            <button mat-button [disabled]='followUp' class="goals-loader-accept" (click)="saveGoals()">Aceptar</button>
        </div>
    </div>

</div>