@import "../../../styles.scss";

/**************************************************************
   * Author: Gustavo ZC
   * Creation date: 01/07/2019
   * Description: SCSS for the login process.
   * **********************************************************
  * Modifications:
  -1: 
  ****************************************************
 */

.login-logo {
    background-image: url('../../../assets/img/MexpressLogo.png');
    height: 4rem;
    background-repeat: no-repeat !important;
    background-size: 10rem;
    background-position: center;
}

.login-bg {
    min-height: 100vh;
    padding-top: 10vh;
    background-color: #000;
    background: url('../../../assets/img/login_bg-min-min.jpg');
    background-size: cover!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
}

.login-title-row {
    margin-top: 2vh;
    border-top: 1px solid rgba(90, 90, 90, 0.76);
}

.login-title {
    margin-top: 3vh;
    font-size: 2rem;
    font-family: $opensans-bold;
    color: $light-blue;
}

.login-title-orange {
    margin-top: 3vh;
    font-size: 2rem;
    font-family: $opensans-bold;
    color: $yellow;
}

.login-subtitle {
    font-size: 1.8rem;
    font-family: $opensans-extrabold;
    color: $yellow;
}

.login-email-container {
    // margin-top: 5vh;
}

.login-label {
    font-size: 1rem;
    font-family: $opensans-extrabold;
    color: $white;
    line-height: normal;
}

.form-group {
    margin-bottom: 0;
}

.login-input {
    font-family: $opensans-semibold;
    line-height: 27px;
    font-size: 1rem;
    text-align: center;
    background-color: $light-gray-softer;
    color: $black;
    display: inline-block;
}

 ::-webkit-input-placeholder {
    font-family: $opensans-semibold;
    text-align: center;
    color: $black;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

.login-button {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: .5rem 1rem;
    color: $white;
    cursor: pointer;
}

.login-button-sign-in {
    background: $yellow;
    border-radius: .25rem;
}

.login-button-forgot {
    color: $white !important;
    cursor: pointer;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: class that remove the outline when button is clicked
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.login-button-container {
    margin-top: 3vh;
}

.login-password-container {
    margin-top: 3vh;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: style of the card that holds the login form
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.login-card {
    background-color: $white;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
}

// styles for password input
.login-show-password {
    position: absolute;
    right: 1.5rem;
    top: 1.7rem;
    cursor: pointer;
}


/*#region MEDIA QUERIES*/


/*old phones*/

@media (max-width:340px) {}


/*Extra small devices (portrait phones, less than 576px)*/


/*MOBILE*/

@media (min-width: 340px) and (max-width: 575.98px) {}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/*Extra large devices (large desktops, 1200px and up)*/


/*PC*/

@media (min-width: 1200px) {}


/*#endregion */