/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

//syncfusion imports
// @import "~@syncfusion/ej2-base/styles/material.css";
// @import "~@syncfusion/ej2-buttons/styles/material.css";
// // @import "~@syncfusion/ej2-dropdowns/styles/material.css";
// @import "~@syncfusion/ej2-inputs/styles/material.css";
// @import "~@syncfusion/ej2-navigations/styles/material.css";
// @import "~@syncfusion/ej2-popups/styles/material.css";
// @import "~@syncfusion/ej2-angular-grids/styles/material.css";
// @import "~@syncfusion/ej2-icons/styles/material.css";
// @import "~@syncfusion/ej2-splitbuttons/styles/material.css";
// @import "~@syncfusion/ej2-lists/styles/material.css";
// @import "~@syncfusion/ej2-angular-dropdowns/styles/material.css";   


// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $ProcessControlClientWeb-primary: mat-palette($mat-indigo);
// $ProcessControlClientWeb-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
// $ProcessControlClientWeb-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
// $ProcessControlClientWeb-theme: mat-light-theme($ProcessControlClientWeb-primary, $ProcessControlClientWeb-accent, $ProcessControlClientWeb-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($ProcessControlClientWeb-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 10%;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: this class set the font families for the body, it sets open sans Regular as default and Roboto, helevetica neue,
   and sans serif in case the first is not found.
  
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

body {
    margin: 0;
    font-family: "Open Sans Regular", Roboto, "Helvetica Neue", sans-serif;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description:  Definition of variables for font family open sans, bold, regular, semibold, extrabold and light
  
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

$opensans-bold: 'Open Sans Bold';
$opensans-extrabold: 'Open Sans ExtraBold';
$opensans-regular: 'Open Sans Regular';
$opensans-light: 'Open Sans Light';
$opensans-semibold: 'Open Sans SemiBold';

/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description:  Definition of variables for font size in rem 
  
  ****************************************************
  * Modifications: 
  -
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

$font-size-small: 0.8rem; // this size is the equivalent for 16px
$font-size-medium: 1.5rem; //this size is the equivalent for 24px
$font-size-big: 1.8rem; // this is the equivalent for 36px
$font-size-bigger: 3.3rem; // this is the equivalent for 54px
$font-size-biggest: 5rem; // this is the equivalent for 81px

/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description:  Definition of colors
  
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

$light-blue: #00ADEF;
$light-blue-dark: #1F88B0;
$black:#333333;
$white: white;
$light-gray:#B0B0B0;
$yellow: #FFC110;
$dark-gray: #505050;
$light-gray-softer: #E0E0E0;
$red: #B90000;
$backgroud-input: #DADADA;
$disable-button: #c4c4c4;
$soft-gray: #5a5a5a;

/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description:  classes that define the style for scrollbar
  
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
    background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #5a5a5a;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: style that remove the outline from button
  
  ****************************************************/

 ::ng-depp .button:focus {
    outline: none !important;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: section where we import the different types of font family we are using
  
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('Open-Sans-Light'), url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('Open-Sans-Regular'), url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('Open-Sans-SemiBold'), url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('Open-Sans-Bold'), url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('Open-Sans-ExtraBold'), url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: This class has the default Material Card
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.material-card {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.4) !important;
    border-radius: 0.25rem;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: This class has style of the search input
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.search-input {
    background: $light-gray-softer;
    font-family: $opensans-regular;
    color: $white;
}

.search-input:focus {
    outline: none !important;
}

.search-input::placeholder {
    color: $white;
    font-family: $opensans-regular;
}

.search-icon {
    color: $white;
    background-color: $light-gray-softer;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}

label {
    margin-bottom: 0;
}

.virtual-scroll {
    height: 84vh !important;
    width: auto;
    margin-top: 2vh;
    border-top: none !important;
}

.modal-list-scroll {
    border-top: none;
    height: 50vh;
    margin-top: 0;
}

.alert-error-required {
    font-family: $opensans-semibold;
    font-size: $font-size-small;
    color: $red;
}

::placeholder {
    color: #5a5a5a;
}

.form-control-error {
    box-shadow: 0 0 18px $red;
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: contains loading styles
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.loading {
    svg {
        display: none;
    }
    $bolb-color: $yellow;
    // Loader
    .blobs {
        position: absolute !important;
        z-index: 1000000;
        filter: url(#goo);
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 70px;
        transform-style: preserve-3d;
        margin-left: calc(50vw - 150px);
        margin-top: calc(50vh - 150px);
        // Blob center item
        .blob-center {
            transform-style: preserve-3d;
            position: absolute;
            background: $bolb-color;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 30px;
            transform-origin: left top;
            transform: scale(.9) translate(-50%, -50%);
            animation: blob-grow linear 3.4s infinite;
            border-radius: 50%;
            box-shadow: 0 -10px 40px -5px $bolb-color;
        }
    }
    // Blob item
    .blob {
        position: absolute;
        background: $bolb-color;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        animation: blobs ease-out 3.4s infinite;
        transform: scale(.9) translate(-50%, -50%);
        transform-origin: center top;
        opacity: 0;
        // Set animation delay for each of type
        @for $i from 1 to 6 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 0.2 + s;
            }
        }
    }
    // Keyframes variables
    $left: calc(-330px - 50%);
    $right: calc(330px - 50%);
    // Keyframes
    @keyframes blobs {
        0% {
            opacity: 0;
            transform: scale(0) translate($left, -50%);
        }
        1% {
            opacity: 1;
        }
        35%,
        65% {
            opacity: 1;
            transform: scale(.9) translate(-50%, -50%);
        }
        99% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: scale(0) translate($right, -50%);
        }
    }
    @keyframes blob-grow {
        0%,
        39% {
            transform: scale(0) translate(-50%, -50%);
        }
        40%,
        42% {
            transform: scale(1, .9) translate(-50%, -50%);
        }
        43%,
        44% {
            transform: scale(1.2, 1.1) translate(-50%, -50%);
        }
        45%,
        46% {
            transform: scale(1.3, 1.2) translate(-50%, -50%);
        }
        47%,
        48% {
            transform: scale(1.4, 1.3) translate(-50%, -50%);
        }
        52% {
            transform: scale(1.5, 1.4) translate(-50%, -50%);
        }
        54% {
            transform: scale(1.7, 1.6) translate(-50%, -50%);
        }
        58% {
            transform: scale(1.8, 1.7) translate(-50%, -50%);
        }
        68%,
        70% {
            transform: scale(1.7, 1.5) translate(-50%, -50%);
        }
        78% {
            transform: scale(1.6, 1.4) translate(-50%, -50%);
        }
        80%,
        81% {
            transform: scale(1.5, 1.4) translate(-50%, -50%);
        }
        82%,
        83% {
            transform: scale(1.4, 1.3) translate(-50%, -50%);
        }
        84%,
        85% {
            transform: scale(1.3, 1.2) translate(-50%, -50%);
        }
        86%,
        87% {
            transform: scale(1.2, 1.1) translate(-50%, -50%);
        }
        90%,
        91% {
            transform: scale(1, .9) translate(-50%, -50%);
        }
        92%,
        100% {
            transform: scale(0) translate(-50%, -50%);
        }
    }
}


/*******************************************************
  * Author: Gustavo ZC
  * Creation date: 01/07/2019
  * Description: style for header in each phase in the tabs
  ****************************************************
  * Modifications
  ****************************************************
  * Number:
  * Date:
  * Ticket:
  * Author: 
  * Description:
*******************************************************/

.cancel-button {
    font-family: $opensans-semibold;
    font-size: $font-size-small;
    color: $white;
    background-color: $dark-gray;
    border-color: $dark-gray;
    border-radius: 0.437rem;
    min-width: 7rem;
}

.save-button {
    font-family: $opensans-semibold;
    font-size: $font-size-small;
    color: $white;
    background-color: $light-blue;
    border-color: $light-blue;
    border-radius: 0.437rem;
    min-width: 7rem;
    outline: none;
    box-shadow: none;
}

.fc-time {
    color: transparent !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//#region mat-toogle
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $light-blue !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $light-blue-dark !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: $light-blue-dark !important;
}

//#endregion mat-toogle
//#region grid
::ng-deep.e-pager .e-currentitem,
.e-pager .e-currentitem:hover {
    background-color: $light-blue !important
}

//#endregion grid

.provider-opt{
    font-size: 0.8rem;
}
