@import '../../../../styles.scss';
.change-password-modal {
    font-family: $opensans-bold;
    color: $black;
    font-size: $font-size-medium;
    margin: 0 auto;
}

.Error-password {
    // box-shadow: 0 0 18px $red;
    box-shadow: 0 0 8px $red;
}

.change-password-modal-form-group {
    padding: 0 5rem;
}

.change-password-modal-label {
    font-family: $opensans-semibold;
    color: $dark-gray;
}

.error-password-span {
    color: red;
    font-size: $font-size-small;
}

.change-password-modal-form-input {
    background: $light-gray-softer;
    color: $black;
    font-family: $opensans-semibold;
}

.cancel-button {
    background: $soft-gray !important;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.pass-error {
    color: $red;
}