<div class="container-fluid p-0">
    <div class="home-header">
        <div class="row mt-4">
        <h5 class=" ml-4 home-title">
            Datos generales
        </h5>
    </div>
    <div class="row m-0 pl-5 pr-4">
            <label class="home-description">En esta sección se pueden visualizar datos generales con respecto a los acuerdos existentes</label>
        </div>
    </div>
    
    <div class="row home-top-header mt-5 ml-0 mr-0">
        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>
    </div>

    <div class="row home-top ml-0 mr-0">
        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-11 mx-auto pb-4 pt-3 material-card home-card text-center ">
                <p class="mb-0">Acuerdos activos del día</p>
                <!-- <h2 class="home-card-title mb-0">{{activeErCount}}</h2> -->
                <h2 class="home-card-title mb-0">3</h2>
                <button mat-raised-button class="home-card-button" (click)="RedirectPage('')">
          Detalles <mat-icon>list</mat-icon>
        </button>
            </div>
        </div>

    </div>
</div>