<div class="container-fluid">

    <div class="row agreement-top-header ml-0 mr-0 ">
        <h5 class="tittle-agreement">Nuevo acuerdo comercial</h5>
    </div>

    <div class="row create-agreement-sector agreement-top-header ml-0 mr-0">
        <div class="offset-md-10 col-md-2">
            <button class="save-button" mat-raised-button (click)="uploadArchive()"><mat-icon  class="mr-2">attachment</mat-icon>Subir adjuntos</button>
        </div>
    </div>
    <form [formGroup]="newAgreementForm" novalidate class="new-agreement-form-top">
        <div class="row agreement-top">
            <!-- Tipo de acuerdo -->
            <div class="form-group col-md-2">
                <label for="type_of_agreement" class="new-agreement-label-input">Tipo de acuerdo</label>
                <mat-select id="type_of_agreement" [ngModelOptions]="{standalone: true}" [(ngModel)]="type_of_agreement" class="new-agreement-select text-center" (selectionChange)="behaviorTypeOfAgreement($event)">
                    <!-- <mat-option *ngFor="let paySlip of listER" [value]="paySlip.pk_Do_Mtr_Pay_Slip">
                    {{paySlip.slip_Name}}
                </mat-option> -->
                    <mat-option [value]="0">
                        Prueba
                    </mat-option>
                </mat-select>
            </div>
            <!-- Nombre del acuerdo-->
            <div class="form-group col-md-2">
                <label for="agreement_name" class="new-agreement-label-input">Nombre</label>
                <input type="text" class="form-control new-agreement-form-input" [ngClass]="{'form-control-error': showErrors && newAgreementForm.get('agreement_name').errors}" formControlName="agreement_name" id="agreement_name" aria-describedby="agreement_name" placeholder="Digite el nombre del acuerdo">
                <div *ngIf="newAgreementForm.get('agreement_name').errors && newAgreementForm.get('agreement_name').errors['required'] && showErrors" class="alert-error-required mt-2">
                    Debes completar este campo
                </div>
            </div>
            <!-- Proveedor -->
            <div class="form-group col-md-2">
                <label for="provider" class="new-agreement-label-input">Proveedor</label>
                <mat-select id="provider" [ngModelOptions]="{standalone: true}" [(ngModel)]="provider" class="new-agreement-select text-center" (selectionChange)="behaviorProvider($event)">
                    <!-- <mat-option *ngFor="let paySlip of listER" [value]="paySlip.pk_Do_Mtr_Pay_Slip">
                    {{paySlip.slip_Name}}
                </mat-option> -->
                    <mat-option [value]="0">
                        Prueba
                    </mat-option>
                </mat-select>
            </div>


        </div>
    </form>
</div>